@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  margin: auto 0;
  height: 100vh;
  flex-direction: row;
  display: flex;
  background-image: url('.././images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

#peoples{
  width: 10%;
  min-width: 120px;
  padding: 10px 0 0 10px;
}

#rightWindow{
  width: 90%;
  height: 100vh;
  background-color: white;
}

ul{
  list-style-type: none;
}

#peoples h1{
  font-family: Arial;
  color: white;
}

#messages{
  height: 91vh;
  overflow-y: scroll;
}
#messages::-webkit-scrollbar {
    width: 0.7em;
}
#messages::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#messages::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 15px;
}

#message-form{
  background-color: #d1d1d1;
  flex-direction: row;
  display: flex;
  padding: 10px 20px 10px 20px;
}

input{
  width: 46vw;
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
  border: 0px;
  margin-right: 10px;
}
button{
  cursor: pointer;
}
#message-form button, .joinPage button{
  background-color: #e68a00;
  border: 0px;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin-right:10px;
}

#options {
  display: none;
  width: 250px;
  min-height: 250px;
  border: 0.5px solid grey;
  box-shadow: 1px 1px grey;
  background-color: white;
  position: absolute;
  top:25%;
  left:40%;
}

#options h3{
  font-family: Arial;
  color: white;
  background-color: orange;
  padding: 10px;
  text-align: center;
  margin: 0;
}

#exit {
  position: absolute;
  right:0px;
  top:0px;
  background-color: #ffebcc;
  color: black;
  border: 0px;
  border-radius: 50%;
  font-size: 16px;
  margin: 3px;
}

#send-location{
  display: block;
  background-color: white;
  border: 0px;
  background-image: url('.././images/loc.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 25px;
  margin:10px auto
}

#load {
  display: none;
  position: fixed;
  z-index: 1002;
  background-image: url('.././images/load.gif');
  width: 100vw;
  height:100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255,255,255,0.5);
}

.adminMessage{
  display: inline-block;
  background-color: #4d4d4d;
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
  font-size: 18px;
  color:white;
  margin-top: 5px;
  margin-bottom: 5px;
  clear:both;
  float:left;
}

.myMessage{
  display: inline-block;
  background-color: orange;
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
  font-size: 18px;
  color:white;
  margin-top: 5px;
  margin-bottom: 5px;
  clear:both;
  float:left;
}

.userMessage{
  display: inline-block;
  background-color: LightGrey;
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
  font-size: 18px;
  color:DimGray;
  margin-top: 5px;
  margin-bottom: 5px;
  clear:both;
  float:left;
}

h4{
  margin:0px;
}
p{
  margin: 0px;
}
a{
  display: block;
  background-color: white;
  background-image: url('.././images/map.png');
  background-repeat: no-repeat;
  background-size: contain;
  width:50px;
  height:50px;
  padding: 15px;
  margin-top: 10px;
  border-radius: 15px;
}

time{
  display: block;
  clear:both;
  float:left;
  margin-top: 10px;
  font-size: 12px;
  color: grey;
  font-family:cursive;
}

.joinPage section{
  padding: 18px;
  padding-right: 8px;
  display: block;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  margin: auto auto;
}

.joinPage button{
  margin-top:15px;
  width: 10vw;
  min-width: 50px;
  border-radius: 5px;
}
.joinPage input{
  width: 10vw;
  min-width: 90px;
  display: block;
}

.joinPage .input{
  margin-top:10px;
}

#peoples ul{
  padding: 0px;
  width:75%;
  margin-right: 30px;
}
#peoples li{
  display: inline-block;
  background-color: rgba(255,255,255,0.8);
  border-radius: 3px;
  padding:5px 10px;
  margin-bottom: 5px;
  width:100%;
  color:DimGray;
}
#topBar{
  display: none;
}
 @media (max-width: 520px){

   #peoples{
     display: none;
   }

   #rightWindow{
     width:100vw;
   }

   #message-form input{
     width:45vw;
   }

   #message-form button{
     color: rgba(0,0,0,0);
     background-repeat: no-repeat;
     background-position: center;
     height:40px;
   }

   #openOptions{
     display: block;
     background-image: url('.././images/focus.png');
     background-size: 25px;
     width:50px;
   }

   #send{
     background-image: url('.././images/send.png');
     background-size: 30px;
   }
   #messages{
     height: 82vh;
   }
   #topBar{
     background-image: url('.././images/user.png');
     background-repeat: no-repeat;
     background-position: 60% 50%;
     display: block;
     width:100vw;
     text-align: center;
   }

   #topBar p{
     margin: 15px auto;
     font-size: 24px;
     color:white;
   }
   body{
     flex-direction: column;
   }
   #options{
     left:15%;
   }
}
