@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
  margin: auto 0;
  height: 100vh;
  flex-direction: row;
  display: flex;
  /* background-image: url('.././images/bg.jpg'); */
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  overflow: hidden;
}

section{
  display: block;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}
#player{
  width: 100% !important;
  height: 100% !important;
}
#cover{
  width: 100%;
  height:100%;
  position: absolute;
  z-index: 1000;
}


nav{
  width: 50vw;
  height: 100%;
  position: relative;
  background-color: #2e2e2e;
  transition: width 0.8s;
}
nav #participents-list{
  height: 80%;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  margin-left: 0px;
  margin-top: 40px;
  padding-left: 10px;
  overflow-y: scroll;
  direction: rtl;
}
/* width */
#participents-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#participents-list::-webkit-scrollbar-track {
  background: #2e2e2e;
}

/* Handle */
#participents-list::-webkit-scrollbar-thumb {
  background: #26a69a;
}

/* Handle on hover */
#participents-list::-webkit-scrollbar-thumb:hover {
  background: #26a69a;
}

nav .participent-card{
  width: 100%;
  margin: 5px auto;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.participent-card img{
  height: 30%;
  position: absolute;
  bottom: 0px;
}
.participent-card video{
  width: 100%;
}

#main-page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url('../images/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;

}

#main-page,#btns{
  width: 100%;
  /* margin: 25px; */
}


#progress-bar{
  position: relative;
  flex: 1;
  background-color: white;
}

#load{
  width: 100%;
  height: 60px;
  position: absolute;
  top:0px;
  background-image: url('../images/running.gif'), url('../images/flag.svg');
  background-position: right bottom, left bottom;
  background-size: 43px;
  background-repeat: no-repeat;
}
#timeleft{
  text-align: center;
  position: relative;
  font-family: 'Comic Neue', cursive;
}


#btns{
  background-color: #e3e3e3;
  height: 70px;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  flex: 0;
}




nav.close #toggle-nav{
  transform: rotate(180deg);
}
#toggle-nav{
  background-color: transparent;
  color:#26a69a;
  font-size: 1.2rem;
  position: absolute;
  right: 0px;
  border: 0px;
  margin: 0.5rem;
  cursor: pointer;
  outline: none !important;
  transition: all 0.5s;
}

#global-message{
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1.5rem;
  z-index: 1;
  background-color: rgba(50, 50, 50, 0.5);
  opacity: 0;
  transition: all 0.5s;
  height: 0px;
  overflow: hidden;
  color: white;
  font-family: 'Comic Neue', cursive;
}

#global-message.show{
  opacity: 1;
  height: auto;
}

.stream-control{
  border-radius: 50%;
  overflow: hidden;
  /* background-color: #f1f3f4; */
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none !important;
  border: 0px;
  background-color: #eb0000;
  color: white;
  margin: 0.5rem 0.25rem;
  transition: all 0.5s;
}

.stream-control:hover{
  /* background-color: #e6e6e6; */
  background-color: #c20202;

}

.stream-control.muted{
  background-color: #f1f3f4;
  color: grey;
}

.stream-control.muted:hover{
  background-color: #eaeaea;
}


#share-facebook{
  float: right;
  padding: 0.4rem 0.70rem;
  background-color: #385898;
  border-radius: 0.5rem;
  border: 0px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  margin: 0.65rem;
  
}
#share-facebook span {
  padding-right: 0.5rem;
}

#copyBtn{
  float: right;
  padding: 0.4rem 0.70rem;
  background-color: #0bb3a3;
  border-radius: 0.5rem;
  border: 0px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  margin: 0.65rem;
  margin-right: -0.3rem;
}

.sharebutton{
  overflow: hidden;
  max-width: 2rem;
  height: 2rem;
  transition: all 1s;
  white-space: nowrap;
}

.sharebutton span{
  display: none;
  opacity: 0;
}


.sharebutton:hover{
  background-color: #26a69a;
  max-width: 20rem;
  transition: all 1s;

}

.sharebutton:hover span {
  animation-name: botton;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
  display: inline-flex;
  overflow: hidden;

}

#audiobutton {
  background-color: #26a69a;
  border: 0px;
  background-color: #f1f3f4;
  overflow: hidden;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  width: 3rem;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
}

#audiobutton:hover{
  background-color: #eaeaea;
}

#audiobutton.mute{
  color: #b9b9b9;
}

#prais-message{
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  color: red;
  z-index: 1000;
  display: none;
  font-family: 'Fredoka One', cursive;

}

#prais-message.active{
  opacity: 0;
  display: inline-block;
  animation-name: show_animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
#parise-button {
  margin: auto;
  background: none;
  border: 0;
  outline: none;
  display: block;
  background-color: #26a69a;
  border-radius: 5px;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  transform: rotate(-1deg);
  color: white;
  font-size:1.3rem;
  width:85%;
}

#parise-button:active{
  transform: rotate(-1deg) scale(0.99);
}

#parise-button:hover{
  opacity: 0.8;
}

#parise-button img{
  height: 3rem;

}

@keyframes botton {
  from {display: none; opacity: 0;}
  to {display: inline-block; opacity: 1;}
}


@keyframes show_animation {
  from {opacity: 0; top: 70%;transform: scale(1);}
  to {opacity: 1; top: 50%;transform: scale(5);}
}
